nav {
		height: 5vh;
		width: 100%;
		position: relative;
		top: 3vh;
		z-index: 10;
}



nav, .dark, .wrapper-social, .container {
	background: #007f00;
}



.light {
	background:#99cc00;
}

a.nav-link{
	color: white;
}

a.nav-link:hover {
	color: #FFFF00;
	}
	
span.specials {
	color: black;
	}

.mainMenu {
	position:relative;
	top:3vh;
	}
.mainMenu, .mainLinks {
	width: 90%;
	}
	
.cl-md-10, .containerMain, .mainMenu, .appointments {
	min-height: 80vh;
}

.container {
	padding-top: 2vh;
}


.layer {
	height: 50%;
}

/*
footer.homefooter {
	padding-top: 10px;
}
*/
div[class^="col-"] {
	position: relative;
}

div[class^="col-"], div.well{
	 margin: 0;
	padding: 0;	
}

div.well {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.well, .review {
	text-align: center;
}

.well p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.leftAside {
  text-align: center;
  padding: 55% 15% 0;
	
}
.thumb, img.reviewFacebook  { 
  width: 120px;
  border-radius: 50%;
  margin: auto 0;
}

.soda{
	background: url(images/soda.jpg);
	background-size: cover;
}

div.well {
	width:100%;
	height:100%;
}

.disappear {
opacity: 1;
animation: appear 7s steps(4);
animation-delay: 7s;

}




.breakfast{
	background: url(breakfast.jpg);
	background-size: cover;	
    }
	
	
.notebook{
	background: url(notebook.jpg);
	background-size: cover;
	
}
.coolCar{
	background: url(CoolCar.jpg);
	background-size: cover;
	}


.girl{
	background: url(girl.jpg);
	background-size: cover;
	}

.coffee {
	background: url(coffee.jpg);
	background-size: cover;
	animation: disappear 43s infinite;
	animation-delay: 23s;
	animation-direction: alternate;
}

.pontiac {
	background: url(pontiac.jpg);
	background-size: cover;
	animation: disappear 43s infinite;
	animation-delay: 13s;
	animation-direction: alternate;
}
	
.legs {
	background: url(legs.jpg);
	background-size: cover;
	animation: disappear 43s infinite;
	animation-delay: 33s;
	animation-direction: alternate;
	
}

.puppies {
	background: url(dog.jpg);
	background-size: cover;
	animation: disappear 43s infinite;
	animation-direction: alternate;
	animation-delay: 3s;

}


	
@keyframes disappear {
  0%   { opacity: 1; }
  43%, 100% { opacity: 0; }
}




.well a {
	color: black;
}



@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}





footer {
	width: 100%;
	position:relative;
}

footer.homefooter {
	display: flex;
	justify-content: space-between;
}


/*About*/

img.aboutPic {
	width: 75%;
}

/*Social Media*/

.container-social {
   margin-left: 4%;
   margin-right: 0;
}

img[src^="social"] {
	width:100%;
}

img[src^="karen"] {
	width: 65%;
	
}

.socialRow {
padding-top: 15px;}



div.container-mainFacebook {
	width:50%;
	margin: 0;
}

/*Links*/

.wrapper_background {
	background: url(background.png);
	background-size: cover;
	z-index: -2;
	}

.well a:hover {
	background-color:#99cc00;
	}
	
.thumb, .well h5 {
	margin-bottom: 25px;
	}
	
 
.mainLinks {	
width:95%;
}

.mainLinks {
		margin: 0 auto;
		text-align: center;
			position:relative;
	     top:3vh;
		height:65vh;
		
			}
			
.links-header {
	margin-top:15px;}

/*Appointments*/

.appointmentForm, .calendar {
	padding-top: 3vh;
}
.calendar {
	width: 80%;
}

.appointmentForm {
	width: 70%;
}

.schedHeader, .appointmentForm {
		margin-left:3vw;
	
}

.wrapperCalendar {
	text-align: center;
}

.wrapperForm {
	margin: 0 auto;
}



